---
import { getFirestore } from 'firebase-admin/firestore';
import Layout from '../layouts/Layout.astro';
import { app } from '../firebase/server';
import type { MenuItem } from '../types';

const db = getFirestore(app)

const menuItem: MenuItem = {
  name: 'test item',
  description: 'testing item description',
  price: 5
}

// const res = await db.collection('menuItems').add({menuItem})
---

<Layout title="Mariez' Cafe">
  <h1>Mariez' Cafe</h1>
  <pre>
    <!-- {JSON.stringify(res, null, 2)} -->
  </pre>
</Layout>


