---
import { getFirestore } from "firebase-admin/firestore";
import Layout from "../../layouts/Layout.astro";
import { app } from "../../firebase/server";

const db = getFirestore(app);
const orderRef = await db.collection("orders");
---

<Layout title="Mariez Cafe Admin">
  <h1>Hello Admin</h1>
  <button id="batch-upload-button">add data to db</button>
</Layout>
